<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://expo-download.onrender.com/Expo Go_2.30.10_decrypted.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>url</key>
                        <string>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNtOldZnoKhdySf4nGx6G0PGtHiaDMrNDyPEnqtKycSg&s</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>url</key>
                        <string>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNtOldZnoKhdySf4nGx6G0PGtHiaDMrNDyPEnqtKycSg&s</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>host.exp.Exponent</string>
                    <key>bundle-version</key>
                    <string>2.30.10</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>Expo Go</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>